<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Opgave 3</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <h1>String manipulation</h1>
    <div id="app">
        <form @submit.prevent="submitWord">
            <input id="word" type="text" v-model="inputWord" placeholder="Word" required>
            <button type="submit">Show it</button>
        </form>
        <hr>
        <h2>Ordered list:</h2>
        <ol v-for="word in words" :key="word.original">
            <li>{{ word.lowercase }}</li>
            <li>{{ word.uppercase }}</li>
        </ol>
        <h2>Table:</h2>
        <table>
            <thead>
                <tr>
                    <th>Original Word</th>
                    <th>Lowercase</th>
                    <th>Uppercase</th>
                    <th>Capitalized</th>
                    <th>End-capitalized</th>
                    <th>Reversed</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="word in words" :key="word.original">
                    <td>{{ word.original }}</td>
                    <td>{{ word.lowercase }}</td>
                    <td>{{ word.uppercase }}</td>
                    <td>{{ word.capitalized }}</td>
                    <td>{{ word.endCapitalized }}</td>
                    <td>{{ word.reversed }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="js/index.js"></script>
</body>

</html>