<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Opgave 3</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div class="container" id="app">
        <h1>String manipulations</h1>
        <form @submit.prevent="submitWord">
            <input id="word" type="text" v-model="inputWord" placeholder="Type a Word" required>
            <button type="submit">Show</button>
        </form>
        <hr>
        <ul v-for="word in words" :key="word.original">
            <li>{{ word.original }}</li>
            <li>{{ word.uppercase }}</li>
            <li>{{ word.lowercase }}</li>
            <li>{{ word.capitalized }}</li>
            <li>{{ word.endCapitalized }}</li>
            <li>{{ word.reversed }}</li>
        </ul>
        <table class="table table-striped" v-for="word in words" :key="word.original">
            <tbody>
                <tr>
                    <td>{{ word.original }}</td>
                </tr>
                <tr>
                    <td>{{ word.uppercase }}</td>
                </tr>
                <tr>
                    <td>{{ word.lowercase }}</td>
                </tr>
                <tr>
                    <td>{{ word.capitalized }}</td>
                </tr>
                <tr>
                    <td>{{ word.endCapitalized }}</td>
                </tr>
                <tr>
                    <td>{{ word.reversed }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="js/index.js"></script>
</body>

</html>